.navbar {
    padding: 12px 20px;
    background-color: rgba(19, 19, 57, 0.815) !important;
    backdrop-filter: blur(5px);
    z-index: 200;

}

#navbarcollapse {
    justify-content: flex-end;
}

@media screen and (max-width:768px) {
    .nav-link {
        margin: 10px 25px 0px 25px !important;
    }
    #navbarcollapse li .button{
        margin: 20px 0px; 
    }
    
}
.navbar-brand{
font-weight: 700 !important;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
}

a{text-decoration: none;}
.navbar li .button{
    margin-top:4px;
}
.nav-link {
    color: white;
    font-weight: 400;
    transition: 0.5s;
    margin: 0px 20px 0px 0px;
}
#top-logo{
    width:40px;
    margin-top: -6px;
    margin-left: -5px;
    margin-right: 10px;
    z-index: 300;
    position: relative;
}
.logobg{
    width:50px;
    height:50px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top:5.5px;
    left:9.8px;
    z-index: 100;
}