.navbar {
    padding: 10px 20px;
    background-color: rgba(19, 19, 57, 0.815) !important;
    backdrop-filter: blur(5px);
    z-index: 200;
}

#navbarcollapse {
    justify-content: flex-end;
}

@media screen and (max-width:768px) {
    #navbarcollapse {
        margin: 0px 0px 20px 20px;
    }

    .nav-link {
        margin: 0px 25px 20px 20px!important;
    }

    #navbarcollapse li .button{
        margin-top: 20px !important; 
    }
    
}


.navbar-nav {
    display: flex;
    flex-direction: column;
}

a{text-decoration: none;}

.nav-link {
    color: white;
    font-weight: 400;
    transition: 0.5s;
    margin: 0px 20px 0px 0px;
}