@media (max-width:768px){
  .todo{
    width: 60vw !important;
  }
  #todolist .contact-card{
    min-width: 200px !important;
  }
  #todo-form input{
    width:40vw !important;
  }
}
#todolist h1{
  font-weight: 700;
}

.todos-container {
  max-height: 550px;
  overflow: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin: auto;
  width:fit-content;
}

.heading-space {
  margin-bottom: 30px;
  text-align: center;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(6, 0, 86);
  width: 50vw;
  margin: 10px auto;
  border: 1px solid white;
  border-radius: 5px;
  overflow:auto;
  color:rgb(255, 255, 255);
}

#todo-form {
  width: 250px;
  display: flex;
  justify-content: center;
}
#todo-form input{
  width: 300px;
}

#form-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.todo-icon:hover{
  box-shadow: none;
}
#todolist .contact-card{
  width:fit-content;
  min-width: 500px;
}