@media (max-width:768px) {
    #about {
        display: flex;
        flex-direction: column;
    }

    #about p {
        width: 100% !important;
    }

    #about iframe {
        position: static !important;
        width: 70vw !important;
        height: 70vw !important;
        margin: 30px 7vw !important;
    }

    .about-bottom {
        margin-top: 90vw;
    }

    #about-icon-container {
        width: 100% !important;
        font-size: 35px !important;
    }
}

#about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#about h1{
    margin-left: 50px;
}
#about p {
    text-align: left;
    margin-top: 30px;
    margin-left: 50px;
    width: 50%;
    font-size: 20px;
}

#about iframe {
    background-color: rgba(90, 143, 152, 0.406);
    width: 40vw;
    height: 35vw;
    border: 1px solid rgba(85, 85, 85, 0.377);
    border-radius: 10px;
    margin: 40px 0px;
    box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.555);
    position: absolute;
    right: 50px;
    top: 70px;
}

.about-icon {
    width: fit-content;
}
.about-bottom{
    margin-left: 50px;
}
#about-icon-container {
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    width: 35vw;
}
.footer{
    margin-top: 50px;
    width:100%;
    height: auto;
    padding: 10px;
    color: white;
    background-color: rgb(78, 78, 78);
    font-size: 17px;
    text-align: center;
    
}