@media (max-width:768px) {
    #about {
        display: flex;
        flex-direction: column;
    }
    #about iframe{
        width:70vw !important;
        height:70vw !important;
        margin: 30px auto !important;
        position: absolute;
        left: 0;
        right: 0;
    }
    .about-bottom{
        margin-top: 90vw;
    }
    #about-icon-container{width: 100% !important;
    font-size: 35px !important;}
}
#about{
    padding:0px 40px;
}
#about p{
    text-align: left;
    margin-top: 20px;
}

#about iframe{
    background-color: rgba(90, 143, 152, 0.406);
    width: 40em;
    height: 40em;
    border: 0px;
    border-radius: 10px;
    margin: 40px 0px;
    box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.555);
}
.about-icon{ width:fit-content;}

#about-icon-container{
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    width:500px;
}