@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
.page{
    margin-top:100px;
}
body{
  overflow-x:hidden;
}
*{
    font-family: 'Raleway', sans-serif;
}

button {
  background-color: #000000;
  color: #ffffff;
  border: 2px solid white;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: .3s;
}

button:hover {
  background-color: #ffffff;
  box-shadow: 0 0 0 5px #1818185f;
  color: #000000;
}
