@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
.page{
    margin-top:100px;
}
body{
  overflow-x:hidden;
}
*{
    font-family: 'Raleway', sans-serif;
}

.button {
  background-color: #f9cb55;
  color: #000000;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: .3s;
  width:auto;
  height: auto;
  padding:7px 20px 10px 20px;
}

.button:hover {
  background-color: #ffffff;
  box-shadow: 0 0 0 5px #ff77006c;
  color: #e36600;
}
