@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

@media screen and (max-width:768px){
    .page-padding{
      padding:0px 0px !important;
    }
    .table{
      margin:0px 40px;
    }
    .table-heading{
      margin-left:50px !important;
    }
}
.table-heading{
  margin-left: 10px;
  color:black;
  font-weight: 700;
}
.page{
    margin-top:100px;
}
.page-padding{
  padding: 0px 70px;
}
body{
  overflow-x:hidden;
}
*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
.dark{
  background-color: rgba(0, 0, 0, 0.401);}
.table-background{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 100%;
  z-index: -2;
  background:linear-gradient(90deg,white,rgb(150, 150, 150)) ;
}
.table{
  border: #000000;
  background-color: rgb(255, 255, 255);
  box-shadow:15px 25px 50px #0000008d;
  margin-bottom: 100px;
  color: black;
}



.button {
  background-color: rgb(255, 222, 58) ;
  color: rgb(7, 0, 98);
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  transition: .3s;
  width:auto;
  height: auto;
  padding:7px 20px 10px 20px;
}

.button:hover {
  background-color: rgb(7, 0, 98);
  color: #ffffff;
  box-shadow: 0 0 0 3px rgba(255, 230, 0, 0.665);
}
