/* html {
  background-image:url("https://www.addressguru.in/images/1397035602.jpg");
position: relative;
background-size: cover;
height: 100%;
width: 100%;
opacity: 0.85;
}

.button {
  border: none;
  color: yellow;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

.button1 {
  background-color: #4CAF50;
}


img {
  width: 200px;
  padding-top: 5%;
  text-align: right;
}

#center {
  text-align: right;
  padding: 60px;
}

#right {
  text-align: left;
  padding-left: 350px;

}

h1 {
  text-align: center;
  margin-bottom: 100px;
}

p {
  text-align: center;
  margin-bottom: 100px;
}

*/

/* ................... */
#login-form {
  background-color: blueviolet;
  padding: 30px;
  width: min(65vw,30em);
  margin: auto;
  border-radius:20px;
  transition: 0.2s;
  transform:scale(0);
}
.textin{
margin:20px auto 0px auto;
width:100%;
background-color: rgba(0, 0, 0, 0);
border:none;
border-radius: 0px;
padding-left: 10px;
border-bottom: 2px solid black;
}
.textin:focus{
  color:black;
background-color: #00000000;
border:none;
border-bottom: 2px solid black;
outline:none;
}
.textin::placeholder{
  color:black;
}

.form-check{
  margin:20px 0px;
}
#emailHelp{
  margin-left: 10px;
}
.select{width:100%;
  background-color: #00000000;
  border: none;
  border-bottom: 2px solid black;
  margin:20px auto 2px auto;
  padding-left: 10px;
}
.select:focus{
  outline:none;
}
option{background-color: aqua;
}
